@import "variables";
@import "base";
@import "mixins";
@import "modules/grid";
@import "modules/pace";
@import "modules/typo";
@import "modules/cards";
@import "modules/charts";
@import "modules/navbar";
@import "modules/sidebar";
@import "modules/buttons";
@import "modules/animations";
@import "modules/responsiveness";


// SECTIONS
// -------------------------------

body {
    @include make-body(#ecf0f5, 16px)
}

header {
    @include make-header($bg-dark);
    background-image: url(../img/bg-header.jpg);
    box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.3);
    background-blend-mode: soft-light;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    & h3 {
        font-weight: 300;
        font-size: 1.1rem;
    }
}

.app-body {
  display: flex;
  width: 100%;
  padding: 40px 0;
}

#call-to-actions {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;

    a {
        margin: 5px;
    }
}

.navbar {
    @include make-navbar($bg-dark);
}

aside, main {
    padding: 10px;
}

ol {
    & li {
        font-size: 1.1rem;
        font-weight: bold;
    }
}

#price-history {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    & li {
      padding: 16px 0;
      list-style: none;
      min-width: 25%;
      text-align: center;

        & b {
            display: block;
        }
    }
}


// COMPONENTS
// ----------------------

.title {
    &:after {
        content:'';
        display:block;
        background: $color-theme;
        height: 4px;
        width: 40px;
    }

    &.text-center:after {
        content:'';
        display:block;
        background: $color-theme;
        height: 4px;
        width: 40px;
        margin: 0 auto;
    }
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


// BUTTONS
// ----------------------

@include make-button(default,$color-theme);
@include make-button(red,$red);
@include make-button(green,$emerald);
@include make-button(blue,$blue);
@include make-button(orange,$orange);
@include make-button(white,$white);
