* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

img {
  border: 0;
  width: 100%;
  height: auto;
  vertical-align: middle;
  transition: all .2s ease-in-out; }

body {
  overflow-x: hidden;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: 400; }

a {
  color: #1e90ff;
  text-decoration: none; }

nav {
  list-style-type: none;
  display: inline; }

header {
  display: block; }

main {
  background: rgba(0, 0, 0, 0.1);
  display: block; }

aside {
  display: block;
  background: rgba(0, 0, 0, 0.1); }

button {
  outline: 0;
  border: 3px;
  cursor: pointer;
  font-size: 1rem;
  background: transparent;
  transition: all .2s ease-in-out; }

hr {
  border: 1px solid currentColor;
  width: 100%;
  display: block; }

blockquote {
  background-color: rgba(151, 178, 232, 0.27);
  padding: 15px; }

section {
  padding-top: 50px;
  padding-bottom: 50px; }

footer {
  width: 100%;
  clear: both;
  padding: 10px 0;
  position: relative;
  color: #f9f9f9;
  background: #252A34; }

ol {
  display: block; }

.fullscreen {
  width: 100%;
  height: 100vh; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-justify {
  text-align: justify; }

.center-block {
  margin-right: auto !important;
  margin-left: auto !important; }

.right {
  float: right; }

.left {
  float: left; }

.top-buffer {
  padding-top: 50px; }

.align-middle {
  display: flex;
  align-items: center; }

.transparent {
  background: transparent !important; }

.sub {
  font-size: small; }

.item {
  background-color: #252A34;
  color: #f9f9f9;
  padding: 10px; }

.container {
  width: 85%;
  margin: 0 auto; }

.row {
  display: flex;
  margin: 10px 0; }

.row:after {
  content: '';
  display: table;
  clear: both; }

.grid-header {
  grid-area: header; }

.grid-main {
  grid-area: main; }

.grid-side-left {
  grid-area: side-left; }

.grid-side-right {
  grid-area: side-right; }

.grid-footer {
  grid-area: footer; }

.col {
  max-width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  -ms-flex-positive: 1;
  flex-basis: 0;
  flex-grow: 1; }

.gutter {
  padding-left: 10px;
  padding-right: 10px; }
  .gutter:first-child {
    margin-left: 0; }
  .gutter:last-child {
    margin-right: 0; }

.col-1 {
  width: 100%;
  padding: 10px 0; }
  .col-1:first-child {
    padding-left: 0; }
  .col-1:last-child {
    padding-right: 0; }

.col-2 {
  width: 100%;
  padding: 10px 0; }
  .col-2:first-child {
    padding-left: 0; }
  .col-2:last-child {
    padding-right: 0; }

.col-3 {
  width: 100%;
  padding: 10px 0; }
  .col-3:first-child {
    padding-left: 0; }
  .col-3:last-child {
    padding-right: 0; }

.col-4 {
  width: 100%;
  padding: 10px 0; }
  .col-4:first-child {
    padding-left: 0; }
  .col-4:last-child {
    padding-right: 0; }

.col-5 {
  width: 100%;
  padding: 10px 0; }
  .col-5:first-child {
    padding-left: 0; }
  .col-5:last-child {
    padding-right: 0; }

.col-6 {
  width: 100%;
  padding: 10px 0; }
  .col-6:first-child {
    padding-left: 0; }
  .col-6:last-child {
    padding-right: 0; }

.col-7 {
  width: 100%;
  padding: 10px 0; }
  .col-7:first-child {
    padding-left: 0; }
  .col-7:last-child {
    padding-right: 0; }

.col-8 {
  width: 100%;
  padding: 10px 0; }
  .col-8:first-child {
    padding-left: 0; }
  .col-8:last-child {
    padding-right: 0; }

.col-9 {
  width: 100%;
  padding: 10px 0; }
  .col-9:first-child {
    padding-left: 0; }
  .col-9:last-child {
    padding-right: 0; }

.col-10 {
  width: 100%;
  padding: 10px 0; }
  .col-10:first-child {
    padding-left: 0; }
  .col-10:last-child {
    padding-right: 0; }

.col-11 {
  width: 100%;
  padding: 10px 0; }
  .col-11:first-child {
    padding-left: 0; }
  .col-11:last-child {
    padding-right: 0; }

.col-12 {
  width: 100%;
  padding: 10px 0; }
  .col-12:first-child {
    padding-left: 0; }
  .col-12:last-child {
    padding-right: 0; }

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.pace-inactive {
  display: none; }

.pace .pace-progress {
  background: #1e90ff;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px; }

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #1e90ff, 0 0 5px #1e90ff;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px); }

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 15px;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #1e90ff;
  border-left-color: #1e90ff;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite; }

@-webkit-keyframes pace-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes pace-spinner {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-o-keyframes pace-spinner {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-ms-keyframes pace-spinner {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes pace-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg); } }

* {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

em {
  background-color: #efefef;
  letter-spacing: 1px;
  padding: 5px;
  border-radius: 3px; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 1.8rem; }

h3 {
  font-size: 1.5rem; }

.uppercase {
  text-transform: uppercase; }

.red {
  color: #e74c3c; }

.green {
  color: #1D9F75; }

.blue {
  color: #1e90ff; }

.orange {
  color: #e67e22; }

.emerald {
  color: #2ecc71; }

.yellow {
  color: #f1c40f; }

.amethyst {
  color: #9b59b6; }

#card-list-prices a {
  color: inherit; }

.card {
  display: flex;
  flex-direction: row;
  min-height: 90px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin-bottom: 15px;
  overflow: hidden;
  transition: all .2s ease-in-out; }
  .card:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
  .card .card-price-icon {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.1em;
    font-weight: 700;
    background: #ccc; }
  .card .card-price-info {
    padding: 10px; }
    .card .card-price-info .coin-title {
      font-size: .8em;
      color: #444; }
    .card .card-price-info .coin-price {
      font-size: 1.5em;
      font-weight: 700; }
  .card .card-help-icon {
    width: 35%;
    background: #ccc; }
  .card .card-help-info {
    width: 65%;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; }

.price-high {
  background: #2ecc71 !important; }

.price-low {
  background: #e74c3c !important; }

.chart {
  margin-left: -6%; }
  .chart svg > rect {
    fill: transparent !important; }

.navbar {
  top: 0;
  z-index: 10; }

.navbar li,
.nav-menu ul,
.drawer-menu ul {
  display: inline;
  list-style: none; }

.nav-menu {
  font-family: sans-serif;
  display: inline;
  transition: all .2s ease-in-out; }

.nav-menu li {
  text-decoration: none;
  transition: all .2s ease-in-out;
  padding: 10px 20px; }
  .nav-menu li:hover {
    background: rgba(255, 255, 255, 0.1); }

.brand {
  font-size: 2em;
  font-weight: 600;
  display: inline; }

.drawer {
  width: 15vh;
  height: 15vh;
  margin-left: -6vw;
  margin-right: 3vw;
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 0;
  display: inline-block;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;
  display: none;
  z-index: 10; }
  .drawer .icon-bar {
    background-color: #fff;
    display: block;
    width: 40px;
    height: 5px;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto; }
    .drawer .icon-bar:first-child {
      margin-top: 0; }
  .drawer:hover, .drawer:active {
    background: rgba(255, 255, 255, 0.1); }

.drawer-menu {
  display: none;
  transition: all .3s ease-in-out;
  background: #1b1f27;
  box-shadow: 2px -30px 38px -1px rgba(0, 0, 0, 0.4);
  height: 100vh;
  padding-top: 16vh;
  position: absolute;
  left: 0;
  top: 0;
  width: 60vw;
  z-index: 9; }
  .drawer-menu li {
    padding: 20px; }
    .drawer-menu li:hover {
      background: rgba(255, 255, 255, 0.1); }

.hide-drawer {
  width: 0vw !important;
  left: -35vw; }

.overlay {
  overflow: hidden; }

@media (min-width: 960px) {
  .sidebar {
    background-color: #363a44;
    color: white;
    width: 30%;
    max-width: 300px;
    height: 85vh; }
  .profile {
    display: flex;
    flex-direction: row; }
  .profile-photo {
    background-color: #9b59b6;
    margin-right: 10px;
    border-radius: 50%;
    display: block;
    height: 30px;
    width: 30px; } }

.btn {
  border: 2px solid currentColor;
  padding: 15px;
  font-weight: 600;
  margin: 10px 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  text-align: center;
  transition: all .17s ease-in-out; }

.btn-lg {
  padding: 20px 40px;
  font-size: 1.5rem; }

.btn-sm {
  padding: 10px;
  font-size: .6rem; }

.rounded {
  border-radius: 30px; }

button > i {
  padding-right: 10px; }

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.delay {
  animation-delay: .5s; }

.delay-2x {
  animation-delay: 1s; }

.delay-3x {
  animation-delay: 1.5s; }

@-webkit-keyframes toBlack {
  from {
    color: #f9f9f9; }
  to {
    color: #252A34; } }

.toBlack {
  -webkit-animation-name: toBlack;
  animation-name: toBlack;
  animation-delay: 1s; }

@-webkit-keyframes toWhite {
  from {
    color: #252A34; }
  to {
    color: #f9f9f9; } }

.toWhite {
  -webkit-animation-name: toWhite;
  animation-name: toWhite;
  animation-delay: 1s; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

@-webkit-keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig; }

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

@-webkit-keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig; }

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

@-webkit-keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

@-webkit-keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig; }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }

@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }

.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown; }

@-webkit-keyframes fadeOutDownBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0); } }

@keyframes fadeOutDownBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0); } }

.fadeOutDownBig {
  -webkit-animation-name: fadeOutDownBig;
  animation-name: fadeOutDownBig; }

@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

@keyframes fadeOutLeft {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft; }

@-webkit-keyframes fadeOutLeftBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0); } }

@keyframes fadeOutLeftBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0); } }

.fadeOutLeftBig {
  -webkit-animation-name: fadeOutLeftBig;
  animation-name: fadeOutLeftBig; }

@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }

@keyframes fadeOutRight {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }

.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight; }

@-webkit-keyframes fadeOutRightBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0); } }

@keyframes fadeOutRightBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0); } }

.fadeOutRightBig {
  -webkit-animation-name: fadeOutRightBig;
  animation-name: fadeOutRightBig; }

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

@keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp; }

@-webkit-keyframes fadeOutUpBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0); } }

@keyframes fadeOutUpBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0); } }

.fadeOutUpBig {
  -webkit-animation-name: fadeOutUpBig;
  animation-name: fadeOutUpBig; }

@media (max-width: 480px) {
  h1 {
    font-size: 2.8rem; }
  .img-center-resize {
    width: 50%;
    vertical-align: middle;
    margin: 0 auto;
    display: block; }
  .drawer {
    margin-left: -7vw; } }

@media (max-width: 960px) {
  html {
    font-size: 18px; }
  .img-responsive {
    margin-left: auto;
    margin-right: auto; }
  .nav-menu {
    display: none; }
  .drawer,
  .drawer-menu ul,
  .drawer-menu li {
    display: block; }
  .drawer-menu {
    display: block; }
  .img-center-resize {
    width: 50%;
    vertical-align: middle;
    margin: 0 auto;
    display: block; }
  .row {
    flex-flow: column; } }

@media (min-width: 961px) {
  .col-1 {
    padding: 10px;
    max-width: 8.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%; }
  .col-2 {
    padding: 10px;
    max-width: 16.66667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%; }
  .col-3 {
    padding: 10px;
    max-width: 25%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%; }
  .col-4 {
    padding: 10px;
    max-width: 33.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%; }
  .col-5 {
    padding: 10px;
    max-width: 41.66667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%; }
  .col-6 {
    padding: 10px;
    max-width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }
  .col-7 {
    padding: 10px;
    max-width: 58.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%; }
  .col-8 {
    padding: 10px;
    max-width: 66.66667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%; }
  .col-9 {
    padding: 10px;
    max-width: 75%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%; }
  .col-10 {
    padding: 10px;
    max-width: 83.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%; }
  .col-11 {
    padding: 10px;
    max-width: 91.66667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%; }
  .col-12 {
    padding: 10px;
    max-width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; } }

body {
  background-color: #ecf0f5;
  font-size: 16px;
  color: #252A34; }

header {
  background-color: #252A34;
  color: #f9f9f9;
  background-image: url(../img/bg-header.jpg);
  box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.3);
  background-blend-mode: soft-light;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  header h3 {
    font-weight: 300;
    font-size: 1.1rem; }

.app-body {
  display: flex;
  width: 100%;
  padding: 40px 0; }

#call-to-actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  #call-to-actions a {
    margin: 5px; }

.navbar {
  width: 100%;
  display: block;
  height: 15vh;
  position: relative;
  line-height: 15vh;
  background-color: #252A34;
  color: #f9f9f9; }
  .navbar .icon-bar {
    background-color: #f9f9f9; }

aside, main {
  padding: 10px; }

ol li {
  font-size: 1.1rem;
  font-weight: bold; }

#price-history {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  #price-history li {
    padding: 16px 0;
    list-style: none;
    min-width: 25%;
    text-align: center; }
    #price-history li b {
      display: block; }

.title:after {
  content: '';
  display: block;
  background: #1e90ff;
  height: 4px;
  width: 40px; }

.title.text-center:after {
  content: '';
  display: block;
  background: #1e90ff;
  height: 4px;
  width: 40px;
  margin: 0 auto; }

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.btn-default {
  color: #1e90ff;
  border-color: #1e90ff; }
  .btn-default a {
    color: inherit; }
  .btn-default:hover {
    color: white;
    background: #1e90ff;
    border-color: #1e90ff; }

.btn-red {
  color: #e74c3c;
  border-color: #e74c3c; }
  .btn-red a {
    color: inherit; }
  .btn-red:hover {
    color: white;
    background: #e74c3c;
    border-color: #e74c3c; }

.btn-green {
  color: #2ecc71;
  border-color: #2ecc71; }
  .btn-green a {
    color: inherit; }
  .btn-green:hover {
    color: white;
    background: #2ecc71;
    border-color: #2ecc71; }

.btn-blue {
  color: #1e90ff;
  border-color: #1e90ff; }
  .btn-blue a {
    color: inherit; }
  .btn-blue:hover {
    color: white;
    background: #1e90ff;
    border-color: #1e90ff; }

.btn-orange {
  color: #e67e22;
  border-color: #e67e22; }
  .btn-orange a {
    color: inherit; }
  .btn-orange:hover {
    color: white;
    background: #e67e22;
    border-color: #e67e22; }

.btn-white {
  color: #f7f7f7;
  border-color: #f7f7f7; }
  .btn-white a {
    color: inherit; }
  .btn-white:hover {
    color: white;
    background: #f7f7f7;
    border-color: #f7f7f7; }

.btn-white:hover {
  color: #252A34; }
