@media (max-width: $mobile) {

	h1 {
		font-size: 2.8rem;
	}
	
	.img-center-resize {
	    width: 50%;
	    vertical-align: middle;
	    margin: 0 auto;
	    display: block;
	}

	.drawer {
    	margin-left: -7vw;
    }

}

@media (max-width: $tablet) {
	html {
		font-size: 18px;
	}

	.img-responsive {
		margin-left: auto;
		margin-right: auto;
	}

	.nav-menu {
		display: none;
	}

	.drawer,
	.drawer-menu ul,
	.drawer-menu li {
		display: block;
	}

	.drawer-menu {
	    display: block;
	}

	.img-center-resize {
	    width: 50%;
	    vertical-align: middle;
	    margin: 0 auto;
	    display: block;
	}

	.row {
	    flex-flow: column;
	}



}

@media (min-width: $tablet + 1) {

	@for $i from 1 through $total-col {
		.col-#{$i} {
	  		padding: 10px;
			max-width: percentage($i/$total-col);
		  	-webkit-box-flex: 0;
		  	-webkit-flex: 0 0 percentage($i/$total-col);
		      	-ms-flex: 0 0 percentage($i/$total-col);
		          	flex: 0 0 percentage($i/$total-col);
		}
	}

}